# For MacOS
**/.DS_Store

# VS Code files
.vscode/

# Python files
/**/__pycache__/
/**/.ipynb_checkpoints/

# MATLAB stuff
/**/*.asv
/**/*.mat

# Dependencies
dependencies/

# PDFs
/**/*.pdf

# LaTeX files
/**/*.tex

# Miscellaneous
xed-forms/
